USE [agriuat-db]
GO
/****** Object:  Table [dbo].[CategoryImages]    Script Date: 24-08-2026 18:27:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CategoryImages](
	[CategoryImageId] [bigint] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](50) NOT NULL,
	[ImageURL] [nvarchar](500) NULL,
	[APIURL] [nvarchar](1000) NULL,
	[CompanyCode] [bigint] NOT NULL,
	[CreatedOn] [datetime2](7) NOT NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoryImageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CategoryImages] ON 

INSERT [dbo].[CategoryImages] ([CategoryImageId], [CategoryName], [ImageURL], [APIURL], [CompanyCode], [CreatedOn], [IsActive]) VALUES (1, N'Fertilizer', NULL, N'https://mpower.mahindraagri.com/BannerImages/api/ProductImage/image/92', 1070, CAST(N'2026-08-24T18:06:54.7900000' AS DateTime2), 1)
INSERT [dbo].[CategoryImages] ([CategoryImageId], [CategoryName], [ImageURL], [APIURL], [CompanyCode], [CreatedOn], [IsActive]) VALUES (2, N'Insecticide', N'3170bd12-47dc-4364-a2ba-f5bb54e53272_ATTILLA.png', N'https://mpower.mahindraagri.com/BannerImages/api/ProductImage/image/92', 1070, CAST(N'2026-08-24T18:06:54.7900000' AS DateTime2), 1)
INSERT [dbo].[CategoryImages] ([CategoryImageId], [CategoryName], [ImageURL], [APIURL], [CompanyCode], [CreatedOn], [IsActive]) VALUES (3, N'Fungicide', N'00a2da62-dcb3-4611-9b92-6931feba5c57_CELDOX.png', N'https://mpower.mahindraagri.com/BannerImages/api/ProductImage/image/95', 1070, CAST(N'2026-08-24T18:06:54.7900000' AS DateTime2), 1)
SET IDENTITY_INSERT [dbo].[CategoryImages] OFF
GO
ALTER TABLE [dbo].[CategoryImages] ADD  CONSTRAINT [DF_CategoryImages_CreatedOn]  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[CategoryImages] ADD  CONSTRAINT [DF_CategoryImages_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
