USE [SalesOrder]
GO
/****** Object:  UserDefinedTableType [dbo].[CustomerCodeTableType]    Script Date: 03/04/2026 16:36:20 ******/
CREATE TYPE [dbo].[CustomerCodeTableType] AS TABLE(
	[CustomerCode] [nvarchar](50) NULL
)
GO
