USE [SalesOrder]
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateRepManForUser]    Script Date: 03/04/2026 16:36:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_UpdateRepManForUser]
    @UserCode NVARCHAR(50),
    @RepManCode NVARCHAR(50)
AS
BEGIN
    BEGIN TRY
        BEGIN TRAN

        UPDATE Users
        SET RepManCode = @RepManCode
        WHERE UserCode = @UserCode

        IF @@ROWCOUNT = 0
            THROW 50001, 'No user found with given UserCode', 1;

        COMMIT TRAN
        RETURN 1
    END TRY
    BEGIN CATCH
        ROLLBACK TRAN
        THROW
    END CATCH
END
GO
