USE [SalesOrder]
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateRepManForIntent]    Script Date: 03/04/2026 16:36:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_UpdateRepManForIntent]
    @CreateOrderNumber NVARCHAR(50),
    @RepManCode NVARCHAR(50)
AS
BEGIN
    BEGIN TRY
        UPDATE TB_Create_Dealer_Order
        SET RepManCode = @RepManCode
        WHERE CreateOrderNumber = @CreateOrderNumber

        IF @@ROWCOUNT = 0
            THROW 50001, 'No order found with given CreateOrderNumber', 1;

        RETURN 1
    END TRY
    BEGIN CATCH
        THROW
    END CATCH
END
GO
