USE [SalesOrder]
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdatePlantForDealer]    Script Date: 03/04/2026 16:36:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_UpdatePlantForDealer]
    @CustomerCode NVARCHAR(50),
    @Plant NVARCHAR(50)
AS
BEGIN
    BEGIN TRY
        BEGIN TRAN

        UPDATE TB_CustomerMaster
        SET Plant = @Plant
        WHERE CustomerCode = @CustomerCode

        IF @@ROWCOUNT = 0
            THROW 50001, 'No customer found with given CustomerCode', 1;

        COMMIT TRAN
        RETURN 1
    END TRY
    BEGIN CATCH
        ROLLBACK TRAN
        THROW
    END CATCH
END
GO
