USE [SalesOrder]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetStates]    Script Date: 03/04/2026 16:36:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetStates]
AS
BEGIN
    SELECT DISTINCT RegionDescription
    FROM TB_CustomerMaster
    WHERE RegionDescription IS NOT NULL
    ORDER BY RegionDescription
END
GO
