USE [SalesOrder]
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateRepManCodeForCustomerAndUser]    Script Date: 03/04/2026 16:36:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_UpdateRepManCodeForCustomerAndUser]
    @CustomerCodes CustomerCodeTableType READONLY,
    @UserCode NVARCHAR(50)
AS
BEGIN
    BEGIN TRY
        BEGIN TRAN

        -- ✅ Update CustomerMaster (Dealer → Approver mapping)
        UPDATE CM
        SET CM.TM = @UserCode
        FROM TB_CustomerMaster CM
        INNER JOIN @CustomerCodes CC
            ON CM.CustomerCode = CC.CustomerCode

        -- ✅ Update Users (Dealer users → their reporting manager)
        UPDATE UM
        SET UM.RepManCode = @UserCode
        FROM Users UM
        INNER JOIN @CustomerCodes CC
            ON UM.UserCode = CC.CustomerCode

        COMMIT TRAN
        RETURN 1
    END TRY
    BEGIN CATCH
    ROLLBACK TRAN
    THROW
END CATCH
END
GO
