USE [SalesOrder]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetFirstApprovers]    Script Date: 03/04/2026 16:36:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetFirstApprovers]
AS
BEGIN
    SELECT 
        UserCode,
        Name
    FROM Users
    WHERE RoleId <> 1
      AND CompanyCode = 1049
    ORDER BY Name
END
GO
