USE [SalesOrder]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetPlants]    Script Date: 03/04/2026 16:36:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetPlants]
AS
BEGIN
    SELECT DISTINCT Plant
    FROM TB_StockDetails
    WHERE Plant IS NOT NULL AND CompanyCode = '1049'
    ORDER BY Plant
END
GO
