USE [SalesOrder]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetDealersByState]    Script Date: 03/04/2026 16:36:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetDealersByState]
    @RegionDescription NVARCHAR(100)
AS
BEGIN
    SELECT 
        CustomerCode,
        CustomerName
    FROM TB_CustomerMaster
    WHERE RegionDescription = @RegionDescription
    ORDER BY CustomerName
END
GO
