USE [SalesOrder]
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdatePlantForIndent]    Script Date: 03/04/2026 16:36:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_UpdatePlantForIndent]
    @CreateOrderNumber NVARCHAR(50),
    @Plant NVARCHAR(50)
AS
BEGIN
    BEGIN TRY
        BEGIN TRAN

        UPDATE TB_Create_Dealer_Order
        SET Plant = @Plant
        WHERE CreateOrderNumber = @CreateOrderNumber

        IF @@ROWCOUNT = 0
            THROW 50001, 'No order found with given CreateOrderNumber', 1;

        COMMIT TRAN
        RETURN 1
    END TRY
    BEGIN CATCH
        ROLLBACK TRAN
        THROW
    END CATCH
END
GO
