USE [SalesOrder]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetDealerOrderNumberAndPurchaseDate]    Script Date: 03/04/2026 16:36:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetDealerOrderNumberAndPurchaseDate]
AS
BEGIN
    SELECT 
        CreateOrderNumber,
        DateOfPurchase
    FROM TB_Create_Dealer_Order
    WHERE DateOfPurchase IS NOT NULL
    ORDER BY DateOfPurchase DESC
END
GO
